<% provide :title, t(".introduce") %>
<h1 class ="ruby-on-rails"><%= t ".introduce" %></h1>
<p class ="simply-rails"><%= t ".simply_rails" %></p>
<span class="references"><%= t ".references" %></span>
