@import 'bootstrap-sprockets';
@import 'bootstrap';

$color-00ff19: #00ff19;
$color-2eff00: #2eff00;
$color-bbb: #bbb;
$color-c40f0f: #c40f0f;
$color-ccc: #ccc;
$color-f00: #f00;
$color-f1f1f1: #f1f1f1;
$gray-111: #111;
$gray-555: #555;
$gray-999: #999;
$white: #fff;

body {
  background: url('img.jpg') center repeat;
}

// Navbar

.header nav {
  background: $gray-111;
  border-bottom: 1px solid $color-c40f0f;
  height: 70px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;

  .introduce {
    color: $color-ccc;

    &:hover {
      color: $gray-999;
    }
  }

  .project2 {
    color: $white;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 40px;
  }
}

.jumbotron {
  background: url('img.jpg') center repeat;
  margin-bottom: -10px;
  padding: 150px 0;
  text-align: center;

  h1,
  p {
    color: $white;
  }

  .btn-feature {
    background: $color-ccc;
    border: 1px solid $white;
    color: $white;

    &:hover {
      color: $color-f1f1f1;
    }
  }
}

footer .footer-1 {
  background: $gray-111;
  border-top: 1px solid $color-c40f0f;

  .lead {
    color: $color-ccc;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
  }

  .enter-your-email {
    color: $gray-555;
    font-size: 10px;
    margin-top: -15px;
  }

  .text {
    background: $color-ccc;
    border-radius: 5px;
    color: $gray-111;
    height: 30px;
    padding: 5px 0;
    width: 300px;
  }

  .btn-agree {
    height: 30px;
  }

  .lh {
    line-height: 50px;
  }

  .via-img {
    width: 25px;
  }
}

.foot-end {
  border-top: 1px solid $color-c40f0f;
  height: 50px;

  p {
    color: $gray-999;
    font-size: 12px;
    padding-left: 10px;
  }

  span {
    color: $white;
    font-size: 14px;
  }
}

// Static Page

.help {
  color: $white;
  margin: 150px 0 100px;
  text-align: center;
}

.get-help-on-the-ruby {
  color: $white;
  margin: 0 0 100px;
  text-align: center;
}

.ruby-on-rails,
.simply-rails {
  color: $white;
  margin: 100px 0 50px;
  text-align: center;
}

.references {
  color: $white;
  float: right;
  font-size: 13px;
  margin: 0 0 30px;
}

.sign-up {
  color: $white;
  margin: 100px 0 50px;
  text-align: center;
}

// User

.gravatar-for-user {
  color: $white;
  margin: 100px 0;
}

// Sidebar

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.content-all {
  margin: 100px 0;
}

// Forms

input,
textarea,
select,
.uneditable-input {
  border: 1px solid $color-bbb;
  margin-bottom: 15px;
  width: 100%;
}

.signup-all {
  margin: 100px 0 50px 400px;
  width: 600px;

  h1 {
    color: $white;
    margin-bottom: 20px;
    text-align: center;
  }
}

// Login

.login-all {
  margin: 100px 400px;
  width: 600px;

  h1 {
    color: $white;
    font-weight: bold;
    text-align: center;
  }

  .remember-me {
    color: $white;
    margin: 0 230px;
    margin-bottom: -30px;
  }

  a {
    color: $white;
    font-weight: bold;
  }

  .your-email {
    border-radius: 5px;
    padding: 5px 0;
  }

  .your-password {
    border-radius: 5px;
    padding: 5px 0;
  }
}

// Flash

.alert-success {
  margin-top: 70px;
}

.alert-alert {
  color: $color-2eff00;
  font-weight: bold;
  margin-top: 70px;
}

.edit-user-all {
  margin: 100px 0;

  h1 {
    color: $white;
    margin-left: 570px;
  }

  .field,
  .actions {
    border-radius: 5px;
    margin-left: 400px;
    padding: 5px 0;
    width: 500px;
  }
}

// All Show User

.all-show-user {
  background: $color-f1f1f1;
  margin: 70px 0 10px;
  padding-left: 100px;

  h1 {
    color: $color-c40f0f;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
  }

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }

  .user-name {
    color: $color-c40f0f;
    font-weight: bold;
  }

  .delete-user {
    color: $color-c40f0f;
    font-weight: bold;
  }
}

.alert-notice {
  color: $color-00ff19;
  margin-top: 70px;
}

.error-explanation {
  margin-left: 50px;
  width: 500px;

  ul li {
    color: $color-f00;
    list-style: none;
  }
}

.posts-all {
  background: $color-f1f1f1;

  h1 {
    color: $color-c40f0f;
  }
}

.posts {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $color-f1f1f1;
    overflow: auto;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;

    a {
      color: $color-c40f0f;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .content {
    display: block;
    font-family: italy;
    margin-left: 60px;
    padding-left: 10px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  img {
    border-radius: 5px;
    max-width: 600px;
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.user-info-post {
  background: $color-f1f1f1;
  padding-left: 50px;
}

.form-post {
  margin: 0 0 50px;

  .field
  .text {
    border-radius: 5px;
  }
}

.user-info {
  margin: 100px 0 0;
}

.feed-all {
  margin: 50px 0;
}
