<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <li><%= link_to t(".project"), root_path, class: "project2" %></li>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right"  >
          <li><%= link_to t(".introduce"), introduce_path , class: "introduce"%></li>
          <%= link_to t(".log_in"), "#", class: "btn btn-success navbar-btn navbar-right" %>
        </ul>
      </div>
    </div>
  </nav>
</div>
